.navbar {
  display: flex;
  gap: 200px;
}
.navbar__hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  cursor: pointer;
}

.link__items {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link__items div svg {
    
}



.link__items div {
  display: flex;
  gap: 10px;
}

.hero__input {
  align-items: center;
  gap: 20px;
  width: 700px;
  border: 2px solid rgb(188, 227, 201);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  padding: 16px 20px;
  position: relative;
}

.hero__input select {
  color: rgb(37, 61, 78);
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: left;
  padding-right: 10px;
}
.search {
  position: absolute;
  right: 15px;
  font-size: 20px;
}

.hero__input input {
  padding-left: 15px;
  border-left: 1px solid rgb(222, 223, 226);
}

.hero__input input::placeholder {
  color: rgb(131, 131, 131);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.hero__select {
  border: none;
}
.hero_line {
  width: 1px;
  background-color: #cacaca;
}

input {
  border: none;
}

.hero__location {
  align-items: center;
  gap: 10px;
  padding: 8px 13px 8px 14px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
  box-shadow: 5px 5px 15px 0px #0000000d;
}

.hero__location h4 {
  color: rgb(59, 183, 126);
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 5px;
}
.loaction__svg {
  font-size: 23px;
  color: rgb(182, 182, 182);
}
.svg {
  font-size: 14px;
  color: rgb(182, 182, 182);
}
.hero__location svg {
  color: #b6b6b6;
}

.link__items svg {
  color: #253d4e;
}

.link__items h3 {
  color: #7e7e7e;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.link__items a {
  color: #7e7e7e;
}
