.admin{
    padding: 32px 0;
}
.admin-top{
    background-color: #F6F7F8;
}
.admin-body{
    padding: 76px 0;
}
.admin-title{
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 15px;
}
.admin-content{
    gap: 26px;
}
.admin-text{
    font-weight: 300;
    font-size: 16px;
    color: #000000;
}
.admin-btn{
    width: 338px;
    height: 70px;
    background-color: #33A0FF;
    border-radius: 10px;
    border: none;
    color: white;
}